<h3>Movies</h3>
<ul>
<% @movies.each do |movie| %>
    <li>
        <%= link_to movie.title, movie %>
        <% if movie.cinemas.empty? %>
            <%= "is not currently showing at any cinemas." %>
        <% else %>
            <%= "is now playing at the following cinema: " %><br>
            <% movie.cinemas.each do |cinema| %>
                <%= link_to cinema.name, cinema %> <br>
            <% end %>
        <% end %>

    </li>
<% end %>
</ul>

    <%= form_tag("/search", method: "get") do %>
      <%= label_tag :query, "Search by Title:" %>
      <%= text_field_tag :query, "", class:"form-control" %>
      <%= submit_tag "Search", class: "btn btn-sm btn-secondary" %>
    <% end %>

<%= link_to "View Cinemas", cinemas_path, :method => :get %> <br>