<h2> <%= @cinema.name %></h2>
  <%= button_to "Update Cinema details", edit_cinema_path(@cinema), :method => "get" %>
<h3>Theatres</h2>

<ul>
<% count = 0 %>
<% @cinema.theatres.each do |theatre| %>
  <li>Theatre <%= link_to theatre.id, theatre %> is currently showing <%= link_to theatre.movie.title, theatre.movie %></li>
  <%= button_to "Update Movie details", edit_movie_path(theatre.movie), :method => "get" %> 
  <%= button_to "Update Theatre details", edit_theatre_path(theatre), :method => "get" %>
  <% count += 1 %>
<% end %>
</ul>
<%= link_to "Add a theatre", new_theatre_path, :method => :get %> <br>
<%= button_to "Back", cinemas_path, :method => :get %> <br>